.nav {
  background-image: linear-gradient(61.42deg, #03243d, #4f0080);
}

.drawer {
  transition: all 330ms ease-out;
}
.drawerOpen {
  transform: translateX(0%);
}
.drawerClose {
  transform: translateX(-100%);
}
